* {
    font-family: 'Rubik', sans-serif;
}

.conteiner-title > h1 {
    font-weight: 600;
    font-size: 4rem;
}

.conteiner-title > h2 {
    font-weight: 300;
    font-size: 2rem;
}

.conteiner-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}